# AWS SAM
.aws-sam/
samconfig.toml

# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
.settings/
.classpath
.project
.factorypath

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
*.log